<section class="min-h-[100svh] flex flex-col  text-center bg-ivory relative">
  <section class="flex w-full justify-between h-80 font-serif">
    <div class="text-5xl md:text-6xl justify-end items-end flex ml-4 mb-2">
      S A V E
    </div>
    <div class="flex h-full gap-4 mr-6">
      <div class="text-6xl mt-20">
        L
      </div>
      <div class="bg-black border border-black w-[1.5px] h-full"></div>
      <div class="text-6xl mt-20">
        A
      </div>
    </div>
  </section>

  <section class="w-full px-6 text-left mb-20">
    <div class="flex items-center">
      <span class="font-script text-5xl md:text-6xl normal-case mt-3 ml-1">
        the
      </span>
      <div class="w-4"></div>
      <div class="font-serif text-5xl md:text-6xl mt-2">
        D A T E
      </div>
    </div>
  </section>

  <section class="w-full flex flex-col items-end pr-4 gap-3 ">
    <p class="uppercase tracking-[0.2em] text-2xl mb-5 font-semibold font-serif">
      Larizza & Alonso
    </p>
    <p class="uppercase tracking-[0.3em] text-sm md:text-base">
      07 · Noviembre · 2026
    </p>
    <p class=" tracking-[0.2em] text-md md:text-lg font-script">
      Te elijo hoy, mañana y todos los días.
    </p>
  </section>

  <!-- Flecha -->
  <div class="absolute bottom-12 md:bottom-14 left-1/2 -translate-x-1/2 flex flex-col items-center">
    <div class="arrow-wrapper">
      <div class="arrow-down"></div>
    </div>
  </div>
</section>
